body{
    text-align: center;
    font-family:"游ゴシック","ゴシック体";
}
.heading{
    background: rgb(43, 42, 42);
    color: white;
    font-weight: 300;
    border-radius: 20px 20px 0px 0px;
    padding: 10px 0px;
}
.content{
    border-radius: 20px 20px 0px 0px;
    padding-bottom: 450px;
    margin-bottom: 15px;
    background: linear-gradient(#c5c5c5, #ffffff);
}
.input_text{
    border-radius: 5px;
    margin-left: 5px;
    border: 1px solid;
    border-color: #b1b1b1;
    background-color: rgb(245, 243, 239);
    font-size: 20px;
}
.label_input{
    font-size: 20px;
}
#result{
    font-size: 20px;
    font-weight: 800;
}

.diagnose1{
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid;
	border-color: #d4d4d4;
    background-color: rgb(48, 154, 253);
    font-family: "游ゴシック","ゴシック体";
    font-weight: 500;
    margin: 10px 0px;
    color: white;
    cursor: pointer;
}
.diagnose2{
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid;
	border-color: #d4d4d4;
    background-color: rgb(0, 132, 255);
    font-family: "游ゴシック","ゴシック体";
    font-weight: 500;
    margin: 10px 0px;
    color: white;
    cursor: pointer;
}
.diagnose3{
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid;
	border-color: #d4d4d4;
    background-color: rgb(21, 64, 105);
    font-family: "游ゴシック","ゴシック体";
    font-weight: 500;
    margin: 10px 0px;
    color: white;
    cursor: pointer;
}